<footer>
    <div class="container">
        <div class="footer-logo">
            <img src="../../assets/img/logos/footerLogo.svg" alt="Masters' Union">
        </div>
        <div class="flexbox pb40 border">
            <div class="footer-info-box">
                <div class="list-item">
                    <img src="../../assets/img/logos/location.svg" alt="Location">
                    <div class="list-item-content">
                        <p class="text-3 text-white">Address :</p>
                        <p class="text-3 text-white text-italic">Masters' Union, Tower C, DLF Cyberpark, Phase II, Udyog
                            Vihar, Sector 20, Gurugram, Haryana 122008</p>
                    </div>
                </div>
                <div class="list-item">
                    <img src="../../assets/img/logos/phone.svg" alt="Phone">
                    <div class="list-item-content">
                        <p class="text-3 text-white">Contact Us :</p>
                        <p class="text-3 text-white">1800-120-5288</p>
                    </div>
                </div>
            </div>
            <div class="footer-links-outer">
                <div class="footer-links">
                    <a href="/about-us" class="link">About Us</a>
                    <a href="https://mastersunion.org/pgp-technology-and-business-management" class="link">PGP TBM</a>
                    <a href="/mentors" class="link">Our Masters</a>
                </div>
                <div class="footer-links">
                    <a href="https://mastersunion.org/admissions" class="link">Admissions</a>
                    <a href="https://mastersunion.org/student-life" class="link">Student Life</a>
                </div>
            </div>

        </div>

        <div class="copyright-section">
            <p class="text-3 text-white">Copyright @ 2022 All Right Reserved</p>
            <div>
                <a href="https://mastersunion.org/privacy-policy" class="link">Privacy Policy</a>
                <a href="https://mastersunion.org/terms-and-conditions" class="link">Terms and Conditions</a>
                <a href="https://mastersunion.org/cookie-policy" class="link">Cookie Policy</a>
            </div>
            <ul class="social-links">
                <li><a href="https://www.facebook.com/themastersunion"><img
                            src="../../assets/img/logos/facebook.png"></a></li>
                <li><a href="https://twitter.com/themastersunion"><img src="../../assets/img/logos/twitter.png"></a>
                </li>
                <li><a href="https://www.instagram.com/masters.union"><img
                            src="../../assets/img/logos/instagram.png"></a></li>
                <li><a href="https://www.youtube.com/mastersunion"><img src="../../assets/img/logos/youtube.png"></a>
                </li>
                <li><a href="https://www.linkedin.com/school/mastersunion/ "><img
                            src="../../assets/img/logos/linkedin.png"></a></li>
            </ul>
        </div>
    </div>
</footer>