<header class="header-main">
    <div class="navigation-wrapper">

        <a class="logo" href="/">
            <img href="/" src="assets/img/muiflogo.png" alt="Logo" />
        </a>

        <div class="hamburger-menu mob-visible tab-visible">
            <button class="ham-button">
                <span class="ham-lines"></span>
                <span class="ham-lines"></span>
                <span class="ham-lines"></span>
            </button>
        </div>

        <nav class="navbar">
            <ul class="nav-menu">
                <li>
                    <a  class="nav-link {{#if about-us}} active {{/if}}" class="nav-link"  href="/about-us">About Us</a>
                    <img src="https://mastersunion.org/assets/img/svg/rightArrow.svg" class="mob-visible">
                </li>
                <li>
                    <a class="nav-link {{#if mentors}} active {{/if}}" href="/mentors">Mentors</a>
                    <img src="https://mastersunion.org/assets/img/svg/rightArrow.svg" class="mob-visible">
                </li>

                <li>
                    <a class="nav-link {{#if portfolio}} active {{/if}}" href="/portfolio">Portfolio</a>
                    <img src="https://mastersunion.org/assets/img/svg/rightArrow.svg" class="mob-visible">
                </li>
                <li>
                    <a class="nav-link {{#if performance}} active {{/if}}" href="/performance">Performance</a>
                    <img src="https://mastersunion.org/assets/img/svg/rightArrow.svg" class="mob-visible">
                </li>
                {{!-- <li>
                    <a class="nav-link" href="javascript:void(0);">Blog</a>
                </li> --}}
                <li>
                    <a class="nav-link {{#if contact-us}} active {{/if}}" href="/contact-us">Contact us</a>
                    <img src="https://mastersunion.org/assets/img/svg/rightArrow.svg" class="mob-visible">
                </li>

                <li>
                    <a class="header-button" target="_blank"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSd3J4FI5s3usewG2QNV-eOW9lnkTfjEtcomFw0axzn1RwyalQ/viewform">For Startups</a>
                </li>

            </ul>
        </nav>
</header>