<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="https://cdn.mastersunion.org/assets/img/fav.png" type="image/x-icon">

<head></head>

<head>
  <!-- Meta tag -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!-- Title tag -->
  <title>Investment Fund</title>

  <!-- css -->
  {{!--
  <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" async> --}}
  {{!--
  <link type="text/css" rel="stylesheet" href="assets/css/slider.css" async> --}}
  {{!--
  <link type="text/css" rel="stylesheet" href="assets/css/owl.carousel.min.css" async> --}}
  {{!--
  <link type="text/css" rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
    async>--}}
  <!-- photoswipe css -->
  {{!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css" />
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" /> --}}

  <script src="/assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
  <link type="text/css" rel="stylesheet" href="assets/css/style.css" async>
  <link type="text/css" rel="stylesheet" href="assets/css/root.css" async>
  <link type="text/css" rel="stylesheet" href="assets/css/fonts.css" async>
  <link type="text/css" rel="stylesheet" href="assets/css/responsive.css" async>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  {{!-- Google Charts --}}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
  <section class="main-section">
    <!--========================================================
                          HEADER
  =========================================================-->
    {{!-- {{>header}} --}}

    <!--========================================================
                          section 1
  =========================================================-->
    {{{body}}}
  </section>

  <!--========================================================
                          FOOTER
  =========================================================-->
  {{>footer}}

  <script src="assets/js/jquery.js" type="text/javascript"></script>
  <script src="assets/js/custom.js" type="text/javascript"></script>
  <script src="assets/js/swiper-bundle.min.js"></script>



  {{!--
  <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/js/owl.carousel.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
  <script src="assets/js/custom.js" type="text/javascript"></script> --}}
</body>

</html>