{{>header about-us = true}}
<section class="yellow-bg">
  <div class="container">
    <div class="flexbox">
      <div class="aboutus-inner">
        <div class="heading-2 text-black">About Us</div>
        <div class="heading-5 text-black mb10"><span class="highlight">Masters' Union Investment Fund</span></div>
        <p class="text-2 text-grey mb20">
          We are one of India’s first-ever solely student-managed fund with an initial corpus of INR 5 Crore run by its
          members having a strong background in finance, portfolio management, research analytics, etc.
        </p>
        <p class="text-2 text-grey mb30">We at MUIF do investment analysis and portfolio management to promote
          leadership and decision making and enhance the ability to drive sustainable solutions in the field of finance
          and investments.</p>
        <p class="text-2 text-grey ns-semibold mb15">We invest across the following asset classes:</p>
        <ul class="about-list">
          <li class="flexbox"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" class="mob-mt5">
            <p class="text-2 text-grey ns-semibold">Equity</p>
          </li>
          <li class="flexbox"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" class="mob-mt5">
            <p class="text-2 text-grey ns-semibold">Cryptocurrencies</p>
          </li>
          <li class="flexbox"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" class="mob-mt5">
            <p class="text-2 text-grey ns-semibold">Debt Instruments</p>
          </li>
          <li class="flexbox"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" class="mob-mt5">
            <p class="text-2 text-grey ns-semibold">Real Estate</p>
          </li>
          <li class="flexbox"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" class="mob-mt5">
            <p class="text-2 text-grey ns-semibold">Derivatives</p>
          </li>
          <li class="flexbox"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" class="mob-mt5">
            <p class="text-2 text-grey ns-semibold">Commodities</p>
          </li>
          <li class="flexbox"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" class="mob-mt5">
            <p class="text-2 text-grey ns-semibold">Futures & Options</p>
          </li>
          <li class="flexbox"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" class="mob-mt5">
            <p class="text-2 text-grey ns-semibold">Startups</p>
          </li>
          <li class="flexbox"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" class="mob-mt5">
            <p class="text-2 text-grey ns-semibold">Foreign Exchange Currencies </p>
          </li>
        </ul>
      </div>
      <div class="tab-hide mob-hide">
        <img src="../assets/img/about-us.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section class="white-bg">
  <div class="container">
    <div class="heading-4 text-black"><span class="highlight">Committee Members</span></div>
    <ul class="members-outer mt40">
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/rushabhshah.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Rushabh Shah<a href="https://www.linkedin.com/in/rushabh16/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
            <em class="text-3 ns-semibold no-italic text-grey mt-10">MUIF Role: Head Capital Markets</em>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/pranavwalia.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Pranav Walia<a href="https://www.linkedin.com/in/pranavwalia-/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
            <em class="text-3 ns-semibold no-italic text-grey mt-10">MUIF Role: Head Capital Markets</em>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/ambesh.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Ambesh Tiwari<a href="https://www.linkedin.com/in/ambesh-tiwari-0a0022108/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
            <em class="text-3 ns-semibold no-italic text-grey mt-10">MUIF Role: Head Capital Markets</em>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/ashishbatheja.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Ashish Batheja<a href="https://www.linkedin.com/in/ashish-batheja/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
            <em class="text-3 ns-semibold no-italic text-grey mt-10">MUIF Role: Head Private Markets</em>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/pragyabaweja.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Pragya Baweja<a href="https://www.linkedin.com/in/pragya-baweja/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
            <em class="text-3 ns-semibold no-italic text-grey mt-10">MUIF Role: Head Private Markets</em>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/karishma.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Karishma Khandwawala<a href="https://www.linkedin.com/in/karishmakhandwawala/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/hrushikeshbrahma.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Hrushikesh Brahma<a href="https://www.linkedin.com/in/hrushikeshbrahma/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/sebastian.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Sebastian Singh<a href="https://www.linkedin.com/in/okramseb/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/radhika.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Radhika Kedia<a href="https://www.linkedin.com/in/radhikakedia-/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/rajrishi.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Punukollu Rajarishi<a href="https://www.linkedin.com/in/rajariship/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/ashishmittal2.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Ashish Mittal<a href="https://www.linkedin.com/in/ashish-mittal-695136208/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/anurag.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Anurag Bansal<a href="https://www.linkedin.com/in/anurag28bansal/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/rohitanand.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Rohit Anand<a href="https://www.linkedin.com/in/rohit-anand-a9611b166/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/kunicaajitsaria.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Kunica Ajitsaria<a href="https://www.linkedin.com/in/kunica-a-988030203/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/savi.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Savi Sachdeva<a href="https://www.linkedin.com/in/savi-sachdeva-b60601157/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/raghava.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Raghava Kundrapu<a href="https://www.linkedin.com/in/raghavak21/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/piyushverma.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Piyush Verma<a href="https://www.linkedin.com/in/ppiyushverma/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/adityanema.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Aditya Nema<a href="https://www.linkedin.com/in/aditya-nema17/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/dhruv.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Dhruv Bhadada<a href="https://www.linkedin.com/in/bhadadadhruv/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/raghavshah.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Raghav Shah<a href="https://www.linkedin.com/in/raghavshah281/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/pranayraj.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Pranay Raj<a href="https://www.linkedin.com/in/prany/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/ankitgarg.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Ankit Garg<a href="https://www.linkedin.com/in/ankitgarg29/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>

      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/konarkgupta.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Konark Gupta<a href="https://www.linkedin.com/in/konark-gupta-9084a0ba/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>

      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/raunakjain.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Raunak Jain<a href="https://www.linkedin.com/in/rj1995/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
      <li class="members-card">
        <div class="member-image">
          <img src="../assets/img/parthshah.png" alt="">
        </div>
       <div class="master-detail">
          <div class="text-3 mt-0 flexbox">Parth Shah<a href="https://www.linkedin.com/in/parth-shaah/" target="_blank"><img src="/assets/img/logos/linkedinmastersvg.svg" alt="" class="linkedinIcon"></a></div>
          </div>
      </li>
    </ul>
  </div>
</section>

<section class="yellow-bg">
  <div class="container">
    <div class="ips-section">
      <div class="heading-3">IPS</div>
      <p class="text-2 text-light-black mt10 mb20">This Investment Policy Statement (“Policy” or “IPS”) is to comply
        with terms of the investment powers provided under the Charter and the framework for the managers of the Masters
        Union Investment Fund (“MUIF”). The purpose of a policy statement is to document the investment management
        process in the following manner:</p>
      <ul class="ips-list mb20">
        <li class="flexbox"><img src="../assets/img/logos/check.svg" alt="">
          <p class="text-3 text-light-black">Identifying the key roles and responsibilities relating to the ongoing
            management of the MUIF
          </p>
        </li>
        <li class="flexbox"><img src="../assets/img/logos/check.svg" alt="">
          <p class="text-3 text-light-black">This structure includes various asset classes and acceptable ranges that,
            in aggregate, are expected to produce a sufficient investment return over the long term while prudently
            managing risk</p>
        </li>
        <li class="flexbox"><img src="../assets/img/logos/check.svg" alt="">
          <p class="text-3 text-light-black">The investment strategy should provide guidance in all market environments,
            and should be based on a clear understanding of worst-case outcomes</p>
        </li>
        <li class="flexbox"><img src="../assets/img/logos/check.svg" alt="">
          <p class="text-3 text-light-black">Establishing formalized criteria to measure, monitor, and evaluate the
            performance on a regular basis
          </p>
        </li>
        <li class="flexbox"><img src="../assets/img/logos/check.svg" alt="">
          <p class="text-3 text-light-black">Encouraging effective communication among all stakeholders, including
            Investment Advisory Group (“IAG”) engaged to execute investment strategies</p>
        </li>
      </ul>
      <p class="text-3 text-light-black">Please reach out to: <a href="#"
          class="text-danger ns-bold">investmentfund@mastersunion.org</a></p>
    </div>
  </div>
</section>

<section class="white-bg">
  <div class="container">
    <div class="heading-3">Charter</div>
    <p class="text-2 text-grey mt10 mb20">The objective of this Charter is to regulate the Committee’s functions through
      determining its duties, authorities, working procedures, and rules of the nomination of its members, in accordance
      with the regulatory rules as decided in the committee meetings.</p>
    <p class="text-2 text-grey">Please reach out to: <a href="#"
        class="text-danger ns-bold">investmentfund@mastersunion.org</a></p>
  </div>
  </div>
</section>