{{>jetbrain-header about-jetbrain = true}}


<section class="yellow-bg jetbrain">
  <div class="container">
    <div class="flexbox">
      <div class="aboutus-inner">
        <div class="heading-2 text-black mb10">Masters' Union Innovation Lab X JetBrains Startup Program</div>
        <div class="heading-5 text-black mb10"><span class="highlight">JetBrains Startup Program</span></div>
        <p class="text-2 text-grey mb20">
         We're pleased to announce that Masters' Union Innovation Lab has collaborated with JetBrains Startup Program for its startup partners.
        </p>
        <p class="text-2 text-grey mb20">
         The JetBrains Startup Program is an initiative from JetBrains, a cutting-edge software vendor, to help startups develop innovative global projects. The program provides startups with special offers on productivity-enhancing tools for software developers and teams.
        </p>
        <p class="text-2 text-grey">JetBrains is the creator of Kotlin, IntelliJ IDEA, ReSharper, Space, and other professional tools trusted by over 12 million people all over the world.</p>
      </div>
      <div class="tab-hide mob-hide ">
        <img src="../assets/img/jetbrainslogo.png" alt="">
      </div>
    </div>
  </div>
</section>