{{>header contact-us = true}}
<section class="yellow-bg">
    <div class="container">
        <div class="contact-section">
            <div class="contact-outer">
                <div class="heading-3"><span class="highlight">Contact Us</span></div>
                <div class="flexbox mt40">
                    <div class="contact-content">
                        <p class="text-1 text-black mb5 ns-bold">Address:</p>
                        <p class="text-1 text-light-black">Masters' Union,<br>
                            Tower C, DLF Cyberpark, Phase II,<br>
                            Udyog Vihar, Sector 20,<br>
                            Gurugram, Haryana<br>
                            PIN - 122008</p>
                    </div>
                    <div class="contact-content">
                        {{!-- <p class="text-1 text-black mb5 ns-bold">Contact Us:</p> --}}
                        {{!-- <p class="text-1 text-light-black mb20">+91-9311779394</p> --}}
                        <p class="text-1 text-black mb5 ns-bold">Email Id:</p>
                        <p class="text-1 text-light-black">investmentfund@mastersunion.org</p>
                    </div>
                </div>
            </div>
            <div class="contact-card">
                <form id="contactForm">
                    <label class="text-3 ns-semibold text-black mb5">Enter Email Id<span
                            class="text-danger">*</span></label>
                    <div class="contact-frm">
                        <input type="email" required="" name="email" placeholder="Enter your email id"
                            onblur="validateEmail(this)" id="email">
                        <img src="../assets/img/logos/mail.svg">
                        <span class="msg-error" id="emailValidation"></span>
                    </div>
                    <label class="text-3 ns-semibold text-black mb5">Enter Name <span
                            class="text-danger">*</span></label>
                    <div class="contact-frm">
                        <input type="text" required="" name="name" placeholder="Enter your name"
                            onblur="validateName(this)" id="name">
                        <img src="../assets/img/logos/user.svg">
                        <span class="msg-error" id="nameValidation"></span>
                    </div>
                    <label class="text-3 ns-semibold text-black mb5"> Enter Phone <span
                            class="text-danger">*</span></label>
                    <div class="contact-frm">
                        <input type="tel" required="" name="phoneNumber" placeholder="Enter your phone number"
                            onblur="validateMobile(this)" maxlength="10" id="phoneNumber">
                        <img src="../assets/img/logos/phone (3).svg">
                        <span class="msg-error" id="mobileValidation"></span>
                    </div>
                    <label class="text-3 ns-semibold text-black mb5">Message <span
                            class="text-danger">*</span></label>
                    <div class="contact-frm">
                        <textarea name="message" rows="5" placeholder="Enter your message" id="message"
                            onblur="validateMessage(this)"></textarea><img src="../assets/img/logos/comment.svg">
                        <span class="msg-error" id="msgValidation"></span>
                    </div>
                    <button id="submitBtn" type="submit">SUBMIT</button>
                </form>
                <div class="aftersubmit">
                    <div class="congrats-box">
                        <svg width="180" height="180" viewBox="0 0 150 150" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <circle cx="75" cy="75" r="75" fill="#FFFDF5"></circle>
                            <path
                                d="M88.3142 39.94L95.212 50.039L106.671 54.3132L106.315 66.538L113.073 76.7311L105.6 86.4121L105.076 98.6308L93.3394 102.07L85.7334 111.647L74.2169 107.531L62.4343 110.809L55.5365 100.71L44.0778 96.4354L44.4335 84.2107L37.6755 74.0175L45.1488 64.3365L45.6729 52.1179L57.4092 48.6785L65.0151 39.1014L76.5316 43.2173L88.3142 39.94Z"
                                fill="#FAD133"></path>
                            <path d="M59.9023 71.5098L72 83.5L89.9023 65.5098" stroke="white" stroke-width="8"></path>
                            <mask id="mask0_2956_5102" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="36" y="36"
                                width="78" height="78">
                                <rect x="36" y="36" width="78" height="78" fill="url(#pattern0)"></rect>
                            </mask>
                            <g mask="url(#mask0_2956_5102)">
                                <rect x="36" y="36" width="78" height="78" fill="#FAD133"></rect>
                            </g>
                            <defs>
                                <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                    <use xlink:href="#image0_2956_5102" transform="scale(0.00195312)"></use>
                                </pattern>
                            </defs>
                        </svg>

                        <div class="congrats-inner mt20">
                            <h3 class="heading-2 text-black">Got it</h3>
                            <p class="text-2 text-black">Our team will reach out to you shortly.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $("#contactForm").submit(function (event) {
        event.preventDefault();
        if (
            $('#phoneNumber').val() != '' &&
            $('#name').val().trim() != '' &&
            //$('#organizationName').val() != '' &&
            $('#email').val() != '' &&
            $('#message').val().trim() != '' &&
            /^[a-zA-Z ]+$/.test($('#name').val()) == true &&
            ///^[.@&]?[a-zA-Z0-9 ]+[ !.@&()]?[ a-zA-Z0-9!()]+/.test($('#organizationName').val()) == true &&
            /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/.test($('#phoneNumber').val()) == true &&
            /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/.test($("#email").val()) == true
        ) {
            //$("#hideLoader").hide();
            //$("#showLoader").removeClass("hide");
            $("#submitBtn").prop("disabled", true);
            var url = '{{apiBaseURL}}/api/admin/contactUs'
            var request_method = 'POST';
            var data = {
                name: event.target.name.value,
                email: event.target.email.value,
                phoneNumber: event.target.phoneNumber.value,
                message: event.target.message.value,
                //organizationName : event.target.organizationName.value
            };

            //$('#contactForm').css('display', 'none');
            //$('.aftersubmit').addClass('active');
            //$("input[type=text], input[type=email], input[type=tel], textarea").val("");
            //console.log(data)

            $.ajax({
                url: url,
                type: request_method,
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
            }).done(function (response) {
                if (response.IsSuccess) {
                    //console.log("data added")
                    $('#contactForm').css('display', 'none');
                    $('.aftersubmit').addClass('active');
                    $("input[type=text], input[type=email], input[type=tel], textarea").val("");
                    $("#submitBtn").prop("disabled", false);
                }
            });
        }
        else {
            if (/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/.test($("#email").val()) == false || $('#email').val() == '') {
                document.getElementById('emailValidation').innerHTML = 'Please enter a valid email';
            } else {
                document.getElementById('emailValidation').innerHTML = '';
            }

            if (/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/.test($('#phoneNumber').val()) == false || $('#phoneNumber').val() == '') {
                document.getElementById('mobileValidation').innerHTML = 'Please enter a valid 10 digit number';
            } else {
                document.getElementById('mobileValidation').innerHTML = ''
            }

            if (/^[a-zA-Z ]+$/.test($('#name').val()) == false || $('#name').val().trim() == '') {
                document.getElementById('nameValidation').innerHTML = 'Please enter a valid name';
            } else {
                document.getElementById('nameValidation').innerHTML = '';
            }

            //if (/^[.@&]?[a-zA-Z0-9 ]+[ !.@&()]?[ a-zA-Z0-9!()]+/.test($('#organizationName').val()) == false || $('#organizationName').val() == '') {
            //    document.getElementById('organizationNameValidation').innerHTML = 'Please enter a valid organization name';
            //} else {
            //    document.getElementById('organizationNameValidation').innerHTML = '';
            //}

            if ($('#message').val().trim() == '') {
                document.getElementById('msgValidation').innerHTML = 'Please enter your message';
            } else {
                document.getElementById('msgValidation').innerHTML = '';
            }
        }


    })



    function validateName(nameField) {
        var reg = /^[a-zA-Z ]+$/;
        if (reg.test(nameField.value) == false || nameField.value.trim() =='' ) {
            document.getElementById('nameValidation').innerHTML = 'Enter a valid name'
            return false;
        }
        document.getElementById('nameValidation').innerHTML = ''
        return true;
    }

    function validateOrganizationName(organizationNameField) {
        var reg = /^[.@&]?[a-zA-Z0-9 ]+[ !.@&()]?[ a-zA-Z0-9!()]+/;
        if (reg.test(organizationNameField.value) == false) {
            document.getElementById('organizationNameValidation').innerHTML = 'Enter valid organization name'
            return false;
        }
        document.getElementById('organizationNameValidation').innerHTML = ''
        return true;
    }

    function validateMobile(mobileField) {
        var reg = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
        if (reg.test(mobileField.value) == false) {
            document.getElementById('mobileValidation').innerHTML = 'Enter a valid 10 digit number'
            return false;
        }
        document.getElementById('mobileValidation').innerHTML = ''
        return true;
    }

    function validateMessage(msgField) {
        if (msgField.value == '' || msgField.value.trim() == '') {
            document.getElementById('msgValidation').innerHTML = 'Please enter your message'
            return false;
        }
        document.getElementById('msgValidation').innerHTML = ''
        return true;
    }

    function validateEmail(emailField) {
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        if (reg.test(emailField.value) == false) {
            document.getElementById('emailValidation').innerHTML = 'Enter the valid email id'
            return false;
        }
        document.getElementById('emailValidation').innerHTML = ''
        return true;

    }

</script>