 <div class="section-what concentratebg aboutbg text-left wow fadeInUp" data-wow-delay=".3s">
  <div class="banner-sec student-top-section">
    <div class="student-overlay">
      <div class="container">
        <div class="banner-main-heading" id="aboutbannerHeading">Documents
        </div>
        <div class="banner-main-heading" id="aboutbannerHeading">
           <em class="text-highlight investment-2">Masters' Union Investment Fund</em>
        </div>
      </div>
    </div>
  </div>
</div>






<section class="cover-outer bg-white darktheme mt115 padd100">
  <div class="container">
    <div class="row">
      <div class="col">
         <h1 class="wow fadeInUp boldheading mb20 comettie-member" data-wow-delay=".3s">Executive
        <div class="borderheading">Summary
        </div>
      </h1>
        <div class="wow fadeInUp " data-wow-delay=".4s">
          <p class="smallheading mb20 col-md-12 np text-left">The Masters' Union Investment Fund (MUIF) is one of India's first-ever solely student-managed fund with an initial size of Rs.5 crore.
            MUIF is governed and run by an all-student Investment Committee, with members having strong background in <b>Finance</b>, <b>Portfolio Management</b>, <b>Research</b>, <b>Analytics</b>, etc.</p>
        </div>
        <div class="enroll-outr  wow fadeInUp  btn-viewmore" data-wow-delay=".5s">
          <a href="../assets/files/MUIF-Brochure_V4.pdf" target="_blank" class="apply-btn">View More
            <i class="material-icons">send</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cover-outer  darktheme  padd100">
  <div class="container" id="studentclubs">
    <div class="row">
      <div class="col">
         <h1 class="wow fadeInUp boldheading mb20 comettie-member" data-wow-delay=".3s">Charter
        <div class="borderheading">
        </div>
      </h1>
        <div class="wow fadeInUp " data-wow-delay=".4s">
          <p class="smallheading mb20 col-md-12 np text-left">The objective of this Charter is to regulate the
            Committee’s functions through determining its duties, authorities, working procedures, and rules of the
            nomination of its members, in accordance with the regulatory rules as decided in the committee meetings.</p>
        </div>
        <div class="enroll-outr  wow fadeInUp  btn-viewmore" data-wow-delay=".5s">
          <a href="../assets/files/Final-Charter.pdf" target="_blank" class="apply-btn">View More
            <i class="material-icons">send</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-white cover-outer padd100">
  <div class="container">
    <div class="row">
      <div class="club-block">
         <h1 class="wow fadeInUp boldheading mb20 comettie-member" data-wow-delay=".3s">IPS
        <div class="borderheading">
        </div>
      </h1>
        
        <div class="wow fadeInUp " data-wow-delay=".4s">
          <p class="smallheading col-md-12 np text-left"> This Investment Policy Statement (“Policy” or “IPS”) is to
            comply with terms of the investment powers provided under the Charter and the framework for the managers of
            the Masters Union Investment Fund (“MUIF”). The purpose of a policy statement is to document the investment
            management process in the following manner:</p>
        </div>
        <div class="cover-outer points">
          <div class="sec-box">
            <i class="material-icons">check</i>
            <label>Identifying the key roles and responsibilities relating to the ongoing management of the MUIF</label>
          </div>

          <div class="sec-box">
            <i class="material-icons">check</i>
            <label>This structure includes various asset classes and acceptable ranges that, in aggregate, are expected
              to produce a sufficient investment return over the long term while prudently managing risk</label>
          </div>

          <div class="sec-box">
            <i class="material-icons">check</i>
            <label>The investment strategy should provide guidance in all market environments, and should be based on a
              clear understanding of worst-case outcomes</label>
          </div>

          <div class="sec-box">
            <i class="material-icons">check</i>
            <label>Establishing formalized criteria to measure, monitor, and evaluate the performance on a regular
              basis</label>
          </div>

          <div class="sec-box">
            <i class="material-icons">check</i>
            <label>Encouraging effective communication among all stakeholders, including Investment Advisory Group
              (“IAG”) engaged to execute investment strategies</label>
          </div>
        </div>


        <div class="enroll-outr  wow fadeInUp mt20" data-wow-delay=".5s">
          <a href="../assets/files/MUSB-PS_Updated.pdf" target="_blank" class="apply-btn ">View More
            <i class="material-icons">send</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>