<div class="cover-outer section-master padd100 mt90 ">
  <div class="container">
    <h1 class="wow fadeInUp big-boldheading mb20" data-wow-delay=".3s">Home Page
      <div class="borderheading">
      </div>
    </h1>

  </div>
</div>