{{>header mentors = true}}
<section class="yellow-bg ">
  <div class="container">
    <div class="heading-4 mb40 text-black">
      <span class="highlight">Meet the MUIF mentors</span>
    </div>
    <div class="swiper master-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="masters-slides">
            <div class="masters-images">
              <img src="../assets/img/satish.jpg">
            </div>
            <div class="slide-content">
              <div class="slide-content-top">
                <p class="text-black text-3">Satish Krishnan</p>
                <p class="text-4 text-italic">Former MD, Financial Markets, Standard Chartered</p>
              </div>
              <div class="slide-content-bottom">
                <p class="text-4 text-italic">Expertise in:</p>
                <p class="text-4 text-light-black ss-bold">How Financial Markets Work</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="masters-slides">
            <div class="masters-images">
              <img src="../assets/img/siddharth-rastogi.jpg">
            </div>
            <div class="slide-content">
              <div class="slide-content-top">
                <p class="text-black text-3">Siddhartha Rastogi</p>
                <p class="text-4 text-italic">MD, A Leading Asset Management </p>
              </div>
              <div class="slide-content-bottom">
                <p class="text-4 text-italic">Expertise in:</p>
                <p class="text-4 text-light-black ss-bold">How to Raise Capital</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="masters-slides">
            <div class="masters-images">
              <img src="../assets/img/ramji-govindarajan.jpg">
            </div>
            <div class="slide-content">
              <div class="slide-content-top">
                <p class="text-black text-3">Ramji Govindrajan</p>
                <p class="text-4 text-italic">CEO, Chevening Advisors</p>
              </div>
              <div class="slide-content-bottom">
                <p class="text-4 text-italic">Expertise in:</p>
                <p class="text-4 text-grey ss-bold">Principle Investing and Family Office
                  Advisory</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="masters-slides">
            <div class="masters-images">
              <img src="../assets/img/ajay .jpg">
            </div>
            <div class="slide-content">
              <div class="slide-content-top">
                <p class="text-black text-3">Ajay Jamuar</p>
                <p class="text-4 text-italic">COO - India, Wells Fargo</p>
              </div>
              <div class="slide-content-bottom">
                <p class="text-4 text-italic">Expertise in:</p>
                <p class="text-4 text-light-black ss-bold">Corporate Finance</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="masters-slides">
            <div class="masters-images">
              <img src="../assets/img/Joy-Jain.jpg">
            </div>
            <div class="slide-content">
              <div class="slide-content-top">
                <p class="text-black text-3">Joy Jain</p>
                <p class="text-4 text-italic">Angel Investor, Ex- Partner, PWC</p>
              </div>
              <div class="slide-content-bottom">
                <p class="text-4 text-italic">Expertise in:</p>
                {{!-- <p class="text-4 text-grey ss-bold">IFRS Expert, Restructuring and Due Diligence Specialist
                </p> --}}
                <p class="text-4 text-grey ss-bold">IFRS, Restructuring and Due Diligence
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="masters-slides">
            <div class="masters-images">
              <img src="../assets/img/Anoush Bhasin.jpg">
            </div>
            <div class="slide-content">
              <div class="slide-content-top">
                <p class="text-black text-3">Anoush Bhasin</p>
                <p class="text-4 text-italic">Market Quality and BD, Bitfinex</p>
              </div>
              <div class="slide-content-bottom">
                <p class="text-4 text-italic">Expertise in:</p>
                <p class="text-4 text-grey ss-bold">Blockchain and Digital Assets</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>