{{>header performance = true}}
<div class="yellow-bg">
    <div class="container">

        <h3 class="heading-3">
            <span class="highlight">Performance Summary</span>
        </h3>

        <div class="performace-wrapper mt40">

            <div class="table-wrapper">
                <table class="muif-table">
                    <thead>
                        <tr>
                            <th>Asset class</th>
                            <th>Amount invested</th>
                            <th>Current value</th>
                            <th>Gain/Loss</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Equity</td>
                            <td class="yellow-tab">1,15,44,957</td>
                            <td class="yellow-tab">1,23,57,317</td>
                            <td class="yellow-tab">8,12,360</td>
                        </tr>

                        <tr>
                            <td>Mutual Fund</td>
                            {{!-- <td>25,35,880.72</td> --}}
                            <td>25,35,880</td>
                            <td>24,98,675</td>
                            {{!-- <td>-37206.1</td> --}}
                            <td>-37,206</td>
                        </tr>

                        <tr>
                            <td>Gold</td>
                            <td class="yellow-tab">2,62,231</td>
                            <td class="yellow-tab">2,66,989</td>
                            <td class="yellow-tab">4,758</td>
                        </tr>

                        <tr>
                            <td>Start- Ups</td>
                            <td>17,51,301</td>
                            <td>17,51,301</td>
                            <td>--</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="valuecharts flexbox mt60">

                <div class="piehcart">
                    <div id="chart_div"></div>
                    <h3 class="text-2 text-black text-center">Equity - Sectorwise</h3>
                </div>

                <div class="bargraph">
                    <div id="chart_pie"></div>
                    <h3 class="text-2 text-black text-center">Top 5 Performing Stocks</h3>
                </div>

            </div>

        </div>

    </div>
</div>

<div class="white-bg">
    <div class="container">

        <h3 class="heading-3">
            <span class="highlight">Startup Portfolio</span>
        </h3>

        <div class="evaluation-wrapper flexbox mt30">

            <div class="evaluation-box">
                <div class="evaluation-top">
                    <img src="../assets/img/growfitter.png" alt="">
                    <h3 class="heading mt10">Growfitter</h3>
                    <p class="text-2 mt20 text-black">
                        Growfitter is a gamified platform that offers rewards to stay healthy. Rewards are earned by
                        doing
                        different types of fitness activities using the growfitter app. 
                        {{!-- <a class="redlink"
                            href="javascript:void(0);">Read
                            More</a> --}}
                    </p>
                </div>
                <div class="marker-wrapper mt20">
                    <span class="marker">Investment Amount: <b>4,74,285 INR</b></span>
                    <span class="marker mt15">Founders: <b>Sanmati Pande and Harshit Sethy</b></span>
                    <span class="marker mt15">Industry: <b>Fitness</b></span>
                </div>
            </div>

            <div class="evaluation-box mobmt30">
                <div class="evaluation-top">
                    <img src="../assets/img/khorish.png" alt="">
                    <h3 class="heading mt10">Knorish</h3>
                    <p class="text-2 mt20 text-black">
                        Knorish is a platform to create online stores for selling hue classes, courses and content for
                        teachers, trainers, experts and organizations. 
                        {{!-- <a class="redlink"
                            href="javascript:void(0);">Read
                            More</a> --}}
                    </p>
                </div>
                <div class="marker-wrapper mt20">
                    <span class="marker">Investment Amount: <b>4,99,867 INR</b></span>
                    <span class="marker mt15">Founders: <b>Kinner N. Sachdev, Rakhi Wadhwa</b></span>
                    <span class="marker mt15">Industry: <b>SaaS; B2B</b></span>
                </div>
            </div>

            <div class="evaluation-box mobmt30 tabmt30">
                <div class="evaluation-top">
                    <img src="../assets/img/clenstac.png" alt="" class="mb10">
                    <h3 class="heading mt10">Clensta</h3>
                    <p class="text-2 mt20 text-black">
                        Clensta products focus on three philosophy – sustainability, innovation and affordability in the
                        personal care space.
                    </p>
                </div>
                <div class="marker-wrapper mt20">
                    <span class="marker">Investment Amount: <b>7,51,434 INR</b></span>
                    <span class="marker mt15">Founders: <b>Puneet Kumar Gupta</b></span>
                    <span class="marker mt15">Industry: <b>Home & Personal Care</b></span>
                </div>
            </div>


        </div>

    </div>
</div>