@font-face {
    font-family: 'ss-extrabold';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Black.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Black.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Black.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Black.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Black.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Black.svg#SourceSerifPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ss-bold';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Bold.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Bold.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Bold.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Bold.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Bold.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Bold.svg#SourceSerifPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ss-regular';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Regular.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Regular.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Regular.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Regular.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Regular.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Regular.svg#SourceSerifPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ss-light';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Light.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Light.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Light.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Light.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Light.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-Light.svg#SourceSerifPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ss-semibold';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-SemiBold.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-SemiBold.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-SemiBold.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-SemiBold.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-SemiBold.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/SourceSerifPro-SemiBold.svg#SourceSerifPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/* --------------------------------------------
--------------------nunito sans----------------
------------------------------------------------  */

@font-face {
    font-family: 'ns-bold';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Bold.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Bold.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Bold.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Bold.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Bold.svg#NunitoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ns-extrabold';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-ExtraBold.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-ExtraBold.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-ExtraBold.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-ExtraBold.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-ExtraBold.svg#NunitoSans-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ns-black';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Black.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Black.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Black.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Black.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Black.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Black.svg#NunitoSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ns-italic';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Italic.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Italic.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Italic.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Italic.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Italic.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Italic.svg#NunitoSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ns-regular';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Regular.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Regular.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Regular.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Regular.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ns-light';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Light.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Light.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Light.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Light.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Light.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-Light.svg#NunitoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ns-semibold';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBold.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBold.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBold.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBold.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBold.svg#NunitoSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ns-semibold-italic';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBoldItalic.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBoldItalic.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBoldItalic.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBoldItalic.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-SemiBoldItalic.svg#NunitoSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ns-bold-italic';
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-BlackItalic.eot');
    src: url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-BlackItalic.eot?#iefix') format('embedded-opentype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-BlackItalic.woff2') format('woff2'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-BlackItalic.woff') format('woff'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-BlackItalic.ttf') format('truetype'), url('https://mastersunion.s3.ap-south-1.amazonaws.com/assets/fontV2/NunitoSans-BlackItalic.svg#NunitoSans-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

