* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--yellow: #fad133;
	--light-yellow: rgba(250, 209, 51, 0.05);
	--yellow-border: #feeeb3;
	--red: #d63736;
	--white: #ffffff;
	--black: #121112;
	--light-black: #343434;
	--dark-grey: #585858;
	--light-grey: #dddddd;
	--green: #237951;
	--light-green: #bdd7cb;
	--light-pink: #f3c3c3;
	--blue: #2f5ea0;
	--light-blue: #c1cfe3;
	--lighter-black: #101010;
	--lighter-grey: #4e5d64;
	--light-bg: #fefcf4;
	--light-blue: #2f5ea0;
	--vlight-bg: #fffdf9;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: #bbb;
	border-radius: 15px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

.flex-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
	position: relative;
	margin: 0;
}

.text-1,
.text-2,
.text-3 .text-4 {
	position: relative;
	margin: 0;
}

.highlight {
	position: relative;
	z-index: 99;
}

.highlight::after {
	content: "";
	position: absolute;
	width: calc(100% + 4px);
	height: 12px;
	left: -2px;
	bottom: calc(0% + 4px);
	background-color: #fad133;
	z-index: -1;
}

.heading-1 {
	font-family: "ss-bold";
	font-size: 40px;
	line-height: 65px;
}

.heading-2 {
	font-family: "ss-bold";
	font-size: 36px;
	line-height: 62px;
}

.heading-3 {
	font-family: "ss-bold";
	font-size: 32px;
	line-height: 48px;
	color: var(--black);
}

.heading-4 {
	font-family: "ss-bold";
	font-size: 28px;
	line-height: 38px;
}

.heading-5 {
	font-family: "ss-bold";
	font-size: 22px;
	line-height: 34px;
}

.heading-6 {
	font-family: "ss-bold";
	font-size: 20px;
	line-height: 28px;
}

.text-1 {
	font-family: "ns-regular";
	font-size: 18px;
	line-height: 27px;
	width: 100%;
	display: inline-block;
}

.text-2 {
	font-family: "ns-regular";
	font-size: 16px;
	line-height: 24px;
	width: 100%;
	display: inline-block;
}

.text-3 {
	font-family: "ns-regular";
	font-size: 14px;
	line-height: 21px;
	width: 100%;
	display: inline-block;
}

.text-4 {
	font-family: "ns-regular";
	font-size: 12px;
	line-height: 21px;
	width: 100%;
	display: inline-block;
}

.text-5 {
	font-family: "ns-regular";
	font-size: 13px;
	line-height: 16px;
	width: 100%;
	display: inline-block;
}

.text-danger {
	color: var(--red);
}

.text-black {
	color: var(--black);
}

.text-light-black {
	color: var(--light-black);
}

.text-grey {
	color: var(--dark-grey);
}

.text-white {
	color: var(--white);
}

.text-yellow {
	color: var(--yellow);
}

.text-light-yellow {
	color: var(--light-yellow);
}

.ns-bold {
	font-family: "ns-bold";
}

.muif-list {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.muif-list.two-list li {
	max-width: 49%;
}

.muif-list li {
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 21px;
	font-family: "ns-semibold";
	color: var(--black);
	width: 100%;
	max-width: 100%;
	gap: 10px;
}

.ns-semibold {
	font-family: "ns-semibold" !important;
}

/* margin classes */

.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt25 {
	margin-top: 25px;
}
.mt30 {
	margin-top: 30px;
}
.mt35 {
	margin-top: 35px;
}
.mt40 {
	margin-top: 40px;
}
.mt45 {
	margin-top: 45px;
}
.mt50 {
	margin-top: 50px;
}
.mt55 {
	margin-top: 55px;
}
.mt60 {
	margin-top: 60px;
}

.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb25 {
	margin-bottom: 25px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb35 {
	margin-bottom: 35px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb45 {
	margin-bottom: 45px;
}
.mb50 {
	margin-bottom: 50px;
}
/* margin classes end */

/* padding classes starts */

.pb40 {
	padding-bottom: 40px;
}

.pt5 {
	padding-top: 5px;
}

/* padding classes ends */

.text-center {
	text-align: center;
}

.mob-visible {
	display: none;
}



.tab-visible {
	display: none;
}

.tab-hide {
	display: block;
}

/* container for different resolutions */

.container {
	max-width: 100%;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1280px;
	}
}

/* heading and text on differnt resolutions */

@media (max-width: 767px) {
	/* margin classes */

	.mobmt5 {
		margin-top: 5px;
	}
	.mobmt10 {
		margin-top: 10px;
	}
	.mobmt15 {
		margin-top: 15px;
	}
	.mobmt20 {
		margin-top: 20px;
	}
	.mobmt25 {
		margin-top: 25px;
	}
	.mobmt30 {
		margin-top: 30px;
	}
	.mobmt35 {
		margin-top: 35px;
	}
	.mobmt40 {
		margin-top: 40px;
	}
	.mobmt45 {
		margin-top: 45px;
	}
	.mobmt50 {
		margin-top: 50px;
	}
	.mobmt55 {
		margin-top: 55px;
	}
	.mobmt60 {
		margin-top: 60px;
	}

	.mobmb5 {
		margin-bottom: 5px;
	}
	.mobmb10 {
		margin-bottom: 10px;
	}
	.mobmb15 {
		margin-bottom: 15px;
	}
	.mobmb20 {
		margin-bottom: 20px;
	}
	.mobmb25 {
		margin-bottom: 25px;
	}
	.mobmb30 {
		margin-bottom: 30px;
	}
	.mobmb35 {
		margin-bottom: 35px;
	}
	.mobmb40 {
		margin-bottom: 40px;
	}
	.mobmb45 {
		margin-bottom: 45px;
	}
	.mobmb50 {
		margin-bottom: 50px;
	}
	/* margin classes end */

	.heading-1 {
		font-size: 36px;
		line-height: 40px;
	}

	.text-1 {
		font-size: 16px;
	}

	.heading-3 {
		font-size: 28px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.heading-1 {
		font-family: "ss-bold";
		font-size: 36px;
		line-height: 50px;
	}
	.text-1 {
		font-size: 16px;
	}

	.tabmt5 {
		margin-top: 5px;
	}
	.tabmt10 {
		margin-top: 10px;
	}
	.tabmt15 {
		margin-top: 15px;
	}
	.tabmt20 {
		margin-top: 20px;
	}
	.tabmt25 {
		margin-top: 25px;
	}
	.tabmt30 {
		margin-top: 30px;
	}
	.tabmt35 {
		margin-top: 35px;
	}
	.tabmt40 {
		margin-top: 40px;
	}
	.tabmt45 {
		margin-top: 45px;
	}
	.tabmt50 {
		margin-top: 50px;
	}
	.tabmt55 {
		margin-top: 55px;
	}
	.tabmt60 {
		margin-top: 60px;
	}

	.tabmb5 {
		margin-bottom: 5px;
	}
	.tabmb10 {
		margin-bottom: 10px;
	}
	.tabmb15 {
		margin-bottom: 15px;
	}
	.tabmb20 {
		margin-bottom: 20px;
	}
	.tabmb25 {
		margin-bottom: 25px;
	}
	.tabmb30 {
		margin-bottom: 30px;
	}
	.tabmb35 {
		margin-bottom: 35px;
	}
	.tabmb40 {
		margin-bottom: 40px;
	}
	.tabmb45 {
		margin-bottom: 45px;
	}
	.tabmb50 {
		margin-bottom: 50px;
	}
}
