* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	padding: 0;
	list-style: none;
}

body {
	font-family: 'ns-regular';
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #4e5d64;
	background: #fff;
}

.ss-bold {
	font-family: "ss-bold" !important;
}

.logo {
	line-height: 0;
}

.header-main {
	max-height: 80px;
	height: 100%;
	background: #ffffff;
	border-bottom: 1px solid var(--light-grey);
}

.navigation-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 80px;
	align-items: center;
	padding: 10px 100px;
	max-width: 100%;
}

.nav-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
}

.nav-menu li {
	display: inline-block;
	margin-right: 20px;
}

.nav-menu li:last-child {
	margin-right: 0;
}

.nav-link {
	font-size: 16px;
	color: var(--dark-grey);
}

.nav-link.active {
	color: var(--black);
	font-family: "ns-bold";
}

.header-button {
	background: var(--red);
	border: 1px solid var(--red);
	border-radius: 3px;
	padding: 8px 19px;
	display: inline-flex;
	align-items: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white);
	font: 14px/19px "ns-bold";
	position: relative;
	transition: 0.5s;
}

.header-button:hover {
	box-shadow: 5px 5px var(--white), 5px 5px 0 1px var(--red);
	transition: 0.5s;
}

.yellow-bg {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 80px 0;
	background-color: var(--light-yellow);
}

.white-bg {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 80px 0;
	background-color: var(--white);
}

.muif-left {
	max-width: 555px;
	width: 100%;
}

.muif-right {
	max-width: 601px;
	width: 100%;
}

.muif-right img {
	box-shadow: 5px 5px var(--yellow);
	border-radius: 5px;
}

.muif-right iframe {
	box-shadow: 5px 5px var(--yellow);
	border-radius: 5px;
}

.muif-assets-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.muif-assets {
	max-width: 288px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 10px;
	box-shadow: 5px 5px 0px var(--yellow);
	border-radius: 12px;
	border: 1px solid var(--dark-grey);
	background: var(--white);
}

.muif-assets .text-1 {
	color: var(--black);
	font-size: 20px;
	text-transform: capitalize;
}

.philosphy-left {
	max-width: 600px;
}

.muif-list.philosphy-list li {
	font-size: 16px;
}

.muif-list.philosphy-list li {
	align-items: flex-start;
}

.muif-list.philosphy-list li img {
	position: relative;
	top: 2px;
}

.philosphy-right {
	max-width: 500px;
}

.philosphy-right img {
	border-radius: 15px;
	border: 2px solid var(--black);
	box-shadow: -10px 10px var(--yellow);
}

.muif-list.investment-list li {
	font-family: "ns-regular";
	font-size: 14px;
}

.number-list {
	min-width: 20px;
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 10px;
	border-radius: 50%;
	line-height: 20px;
}

.investment-left {
	max-width: 600px;
}

.hide{
	display: none !important;
}

.investment-right {
	max-width: 594px;
}

.investment-right img {
	image-rendering: pixelated;
}

.investment-assets-wrapper .muif-assets {
	max-width: 232px;
	gap: 10px;
	border-radius: 5px;
}

.investors-wrapper {
	padding: 60px 0;
}

.flex-box.investors {
	justify-content: center;
	gap: 80px;
}

.investors-wrapper::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	max-width: 310px;
	background: url(../img/dotsleft.png);
	background-repeat: no-repeat;
	background-position: center;
}

.investors-wrapper::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	max-width: 310px;
	background: url(../img/dotsright.png);
	background-repeat: no-repeat;
	background-position: center;
}

.muif-news {
	border: 1px solid var(--dark-grey);
	background-color: var(--white);
	box-shadow: 5px 5px 0 var(--yellow);
	max-width: 290px;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 5px;
}

.muif-news-header {
	padding: 12px 10px;
	text-align: center;
}

.muif-news-text {
	padding: 15px 10px;
}

.muif-news-text .text-2 {
	min-height: 70px;
}

.swiper-slide .muif-news img {
	width: auto !important;
	object-fit: contain;
	margin: 0 auto;
	display: block;
}

.muif-news-text span.date {
	min-height: 22px;
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 6px;
	font-size: 14px;
	font-family: "ns-regular";
	color: var(--dark-grey);
}

.muif-news-text span.date img {
	margin: 0;
	width: auto !important;
	object-fit: contain;
}

.muif-left {
	max-width: 555px;
	width: 100%;
}

/* home page end */

/* footer css start */
footer {
	background-color: var(--black);
	padding-top: 50px;
}

.footer-logo {
	width: 100%;
	margin-bottom: 25px;
}

.flexbox {
	display: flex !important;
	align-items: center;
	justify-content: space-between;
}

footer .flexbox {
	align-items: flex-start;
}

.footer-info-box {
	max-width: 40%;
	width: 100%;
	border: 1px solid var(--yellow);
	border-radius: 10px;
	padding: 25px 20px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 20px;
}

.list-item {
	display: flex;
	align-items: flex-start;
	gap: 15px;
	justify-content: flex-start;
}

.footer-links-outer {
	width: 100%;
	max-width: 43%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.footer-links:first-child {
	width: 30%;
}

.footer-links {
	width: 60%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 15px;
	justify-content: space-between;
}

.link {
	font-size: 14px;
	line-height: 150%;
	font-family: "ns-semibold";
	color: var(--white);
	transition: 0.4s;
}

.link:hover {
	color: var(--yellow);
}

.border {
	border-bottom: 1px solid var(--light-black);
}

.copyright-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

.copyright-section .text-3 {
	width: auto;
}

.copyright-section .link:not(:last-child) {
	border-right: 1px solid var(--white);
	padding-right: 5px;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}

.social-links li img {
	background: var(--white);
	width: 20px;
	border-radius: 50%;
	padding: 2px;
	transition: 0.4s;
}

.social-links a img:hover {
	background: var(--yellow);
}

/* footer css ends */

/* Mentor section start */

.mentor-outer {
	width: 100%;
}

.masters-slides {
	width: 192px;
	min-height: 320px;
	border: 1px solid var(--black);
	border-radius: 5px;
	margin-bottom: 10px;
	overflow: hidden;
	transition: 0.4s;
	background: var(--white);
}

.masters-slides:hover {
	box-shadow: 6px 6px 0px var(--yellow);
}

.masters-images {
	width: 100%;
	object-fit: cover;
	max-height: 150px;
}

.slide-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	padding: 15px;
	min-height: 175px;
	height: 100%;
}

.slide-content-top {
	display: flex;
	width: 100%;
	min-height: 60px;
	height: 100%;
	align-items: center;
	flex-direction: column;
	gap: 5px;
}

.slide-content-bottom {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 5px;
}

.slide-content p {
	line-height: 120%;
}

.slide-content .text-3 {
	font-family: "ss-bold";
}

.text-italic {
	font-style: italic;
}

.mentor-text {
	font-family: "ss-semibold" !important;
}

/* Mentor section ends */

/* About-us section starts */

.aboutus-inner {
	width: 53%;
}

.aboutus-inner .heading-2 {
	line-height: 54px;
}

.aboutus-inner .highlight::after {
	height: 8px;
}

.about-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.about-list .flexbox {
	gap: 10px;
	width: 49%;
}

.members-outer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 18px;
}

.members-card {
	display: inline-block;
	flex-wrap: wrap;
	border: 1px solid var(--black);
	border-radius: 5px;
	width: 235px;
	/* min-height: 220px; */
	overflow: hidden;
	transition: 0.4s;
}

.members-card:hover {
	box-shadow: 6px 6px 0px var(--yellow);
}

.members-card:hover .linkedinIcon{
	filter: grayscale(0);
}

.member-image {
	width: 100%;
	object-fit: cover;
	max-height: 130px;
}

.member-image img {
	image-rendering: -webkit-optimize-contrast;
}

.master-detail {
    padding: 15px;
    background-color: var(--white);
}

.master-detail .text-3 {
    font-family: 'ss-bold';
    line-height: 17px;
    margin-top: 5px;
    text-transform: capitalize;
    color: var(--black);
    font-size: 14px;
}

.text-grey {
    color: var(--dark-grey) !important;
}

.no-italic {
    font-style: normal !important;
}

.linkedinIcon {
    height: auto !important;
    filter: grayscale(1);
}

.ips-section {
	width: 80%;
}

.ips-list {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 13px;
}

.ips-list .flexbox {
	gap: 10px;
	align-items: flex-start;
}

.ips-list .flexbox img {
	position: relative;
	top: 3px;
}

.align-start {
	align-items: flex-start;
}

/* About-us section ends */

/* contact-us page  starts*/

.contact-section {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.contact-outer {
	display: block;
}

.contact-outer .flexbox {
	justify-content: flex-start;
	align-items: flex-start;
}

.contact-content {
	width: 48%;
}

.contact-card {
	display: block;
	border: 1px solid #343434;
	box-sizing: border-box;
	border-radius: 5px;
	background: #ffffff;
	padding: 30px;
	align-items: center;
	width: 51%;
	box-shadow: 5px 5px 0px #fad133;
}

.contact-card input {
	display: block;
	background: #ffffff;
	border: 1px solid #585858;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 10px 35px;
	height: 40px;
	outline: none;
	width: 100%;
}

::placeholder {
	opacity: 0.4;
	color: #585858;
	font-weight: 300;
	font-size: 14px;
	font-family: "Nunito Sans";
}

.contact-card textarea {
	width: 100%;
	resize: none;
	background: #ffffff;
	border: 1px solid #585858;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 10px 35px;
	outline: none;
	display: block;
}

.contact-frm {
	display: block;
	align-items: center;
	position: relative;
}

.contact-card img {
	max-width: 100%;
	position: absolute;
	top: 10px;
	left: 10px;
}

.contact-card button {
	background: var(--yellow);
	text-decoration: none;
	letter-spacing: 0.06em;
	font-size: 16px;
	color: var(--light-black);
	font-family: "ns-extrabold";
	transition: 0.4s;
	border-radius: 5px;
	display: block;
	text-align: center;
	border: none;
	padding: 15px 0;
	width: 100%;
	align-items: center;
}

.contact-card button:disabled {
	background: var(--yellow-border);
}

.contact-card button:disabled:hover {
	box-shadow: none;
}

.contact-card button:hover {
	box-shadow: 5px 5px #fff, 5px 5px 0 1px #f9c600;
	transition: 0.4s;
	cursor: pointer;
}

/* contact-us page  ends*/

/* performance page start */

.performace-wrapper {
	background-color: var(--white);
	padding: 40px 20px;
	box-shadow: 5px 5px var(--yellow);
	border-radius: 10px;
	border: 1px solid var(--black);
}

.separator10 {
	height: 10px;
}

.table-wrapper {
	max-width: 1024px;
	overflow: auto;
	border: 1px solid var(--dark-grey);
	border-radius: 10px;
	margin: auto;
}

.muif-table {
	width: 100%;
	background: var(--white);
	border-radius: 10px;
	border-spacing: 0;
	overflow: hidden;
}

.muif-table thead th {
	min-width: auto;
	text-align: left;
	padding: 15px 30px;
	border-bottom: 1px solid var(--dark-grey);
	border-right: 1px solid var(--dark-grey);
	font-size: 16px;
	line-height: 20px;
	font-family: "ns-bold";
	background: #f7d133;
	color: var(--black);
}

.muif-table tbody td {
	padding: 15px 30px;
	border-bottom: 1px solid var(--dark-grey);
	border-right: 1px solid var(--dark-grey);
	font-size: 14px;
	line-height: 20px;
	font-family: "ns-regular";
	color: var(--black);
}

.muif-table tbody tr:nth-child(even) {
	background: var(--light-yellow);
}

.muif-table td:last-child {
	border-right: 0;
}

.muif-table tr:last-child td {
	border-bottom: 0;
}

.muif-table th:last-child {
	border-right: 0;
}

.valuecharts {
	justify-content: space-around;
}

.valuecharts .text-2 {
	font-family: "ns-extrabold";
}

.piehcart {
	border-right: 2px dashed var(--black);
}

.evaluation-wrapper {
	flex-wrap: wrap;
}

.evaluation-wrapper .evaluation-box {
	max-width: 368px;
	gap: 58px;
	box-shadow: 5px 5px 0px #fad133;
	border-radius: 10px;
	padding: 0;
	border: 1px solid var(--dark-grey);
	min-height: 422px;
}

.evaluation-box .evaluation-top {
	padding: 20px;
	padding-bottom: 0;
}

.marker-wrapper .marker {
	display: block;
	background: linear-gradient(90deg, #fad133 -8.63%, rgba(250, 209, 51, 0.92) 67.75%, rgba(250, 209, 51, 0) 128.75%);
	padding: 7px;
	font-size: 14px;
	color: var(--black);
	max-height: 34px;
	position: relative;
	width: 97%;
}

.marker-wrapper .marker::before {
	content: "";
	background: url(../img/angle.png);
	position: absolute;
	left: -13px;
	bottom: 0;
	width: 13px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: cover;
}

.redlink {
	color: var(--red);
}

.evaluation-box .heading {
	color: var(--black);
	font-family: "ns-semibold";
	font-size: 30px;
	list-style: none;
	line-height: 36px;
}

.evaluation-box .text-2 {
	min-height: 96px;
}

/* performace page end */

/* portfolio page start */

.portfolio-wrapper {
	flex-wrap: wrap;
}

.portfolio-left {
	max-width: 600px;
}

.portfolio-right {
	max-width: 500px;
}

.portfolio-right img {
	border-radius: 10px;
	box-shadow: 5px 5px var(--yellow);
	border: 2px solid var(--black);
	image-rendering: -webkit-optimize-contrast;
}

.red-highlighted {
	padding: 10px 0;
	text-align: center;
	background: var(--red);
}

.brand-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	flex-direction: column;
	text-align: center;
	width: 15%;
	min-height: 76px;
}

.red-highlighted .text {
	color: #fff;
	font-family: "ns-semibold";
	font-size: 18px;
	line-height: 120%;
}

.tab {
	display: none;
}

.tab-menu ul {
	margin: 0;
	padding: 0;
}

.tab-menu ul li {
	list-style-type: none;
	display: inline-block;
}

.tab-menu ul li a {
	text-decoration: none;
	padding: 16px 20px;
	min-width: 130px;
	display: inline-block;
	text-align: center;
	color: var(--black);
	background-color: var(--white);
	font-size: 16px;
}

.tab-menu ul li.active-a a {
	background-color: var(--white);
	box-shadow: 5px 5px var(--yellow);
	border: 1px solid var(--black);
	border-radius: 10px;
}

.tab-active {
	display: block;
}

.brand-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 44px 74px;
	background: var(--light-yellow);
	min-height: 166px;
}

.evaluation-box .text-2 {
	min-height: 120px;
}

.performace-wrapper {
	overflow: hidden;
}

.marker-wrapper {
	padding-bottom: 20px;
}

/* portfolio page ends */

.tab-menu ul {
	display: flex;
	overflow: auto;
	justify-content: center;
}

.tab-menu ul li {
	min-width: max-content;
	margin-right: 10px;
	margin-bottom: 5px;
}

.tab-menu ul::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.tab-menu ul::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 0;
}

.tab-menu ul::-webkit-scrollbar-track {
	background: transparent;
}

.aftersubmit {
	min-height: 518px;
	display: none;
	align-items: center;
	justify-content: center;
}

.aftersubmit.active {
	display: flex;
}

.congrats-box {
	text-align: center;
}

.contact-frm span.msg-error {
	position: absolute;
	bottom: -24px;
	font-size: 12px;
	color: var(--red);
}

.jetbrain{
	position: relative;
}

